#squre1{
    position: relative;
    height: 500px;
    width: 1000px;
    background: red;
}
#squre2{
    position: absolute;
    height: 400px;
    width: 800px;
    background:white;
    margin: 50px 100px;
}
#squre3{
  
  height:300px;
  width: 600px;
  background:blue;
  margin: 50px 100px;
}
